.controlPanel {
    border: 1px solid black;
    width: 60%;
    padding: 5px;
}
.ctrBtn {
    height: 40px;
    width: 100px;
    background-color: #D4706A;
    border-radius: 5px;
    color: #550400;
    border: 1px solid #550400;
    font-size: 15px;
}
.ctrBtn:hover {
    background-color: #FFAEAA;
}
.wordBox {
    min-height: 150px;
    border: 1px solid black;
    width: 100%;
}
.newGameBtns {
    display: flex;
}
.submitWord {
    display: flex;
}
input {
    background-color: #FFAEAA;
}
.timer {
    height: 40px;
    width: 100px;
    background-color: #D4706A;
    border-radius: 5px;
    color: #550400;
    border: 1px solid #550400;
    font-size: 15px;
}