.ltrBtn {
    height: 50px;
    width:  50px;
    background-color: #D4706A;
    border-radius: 5px;
    color: #550400;
    border: 1px solod #550400;
    font-size: 20px;
}
.ltrBtn:hover {
    background-color: lavender;
}
.letterBoard {
    width: 218px;
    margin: auto;
    background-color: #FFAEAA;
    border: 1px solid #550400;
    border-radius: 5px;
}
table {
    margin: auto;
}
.activeLetter {
    background-color: lavender;
}
.timer, .letterBoard  {
    margin: 5px auto;
}
.letterBoardPanel {
    border: 1px solid #550400;
    border-left: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
input {
    background-color: #D4706A;
    /* height: 40px; */
    border: 1px solid #550400;
    border-radius: 5px;
    padding: 5px;
}
.currentGuess {
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.clearBtn {
    background-color: #D4706A;
    width: 40px;
    border: 1px solid #550400;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
}